.landingPage{
    text-align: center;
    color: seashell;
    font: bolder;
    background: none;
}

.video {
  right: 0;
  left: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  
}
video{
width: 100%;
object-fit: cover;
height: 100%;
}
.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-size: larger;
    color:whitesmoke;
      background: #58A4B0;
      border: none;
      box-shadow: inset 0 1px 0 #73DCE7;
  }
  .start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: rgb(73, 72, 72);
      background: #ebf1f1;
      border: none;
      box-shadow: inset 0 1px 0 #ceebeb;
  }
  button:hover{
    border: 1px #2F5BB7 solid;
      box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #4d96a1;
      background: #c5f0f0;
  }
  button:active {
    box-shadow: inset 0 2px 5px #3B747D;   
  }
